<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %>!</h1>
    <p>You have reached your expense limit! <%= link_to 'click here', @path %> to go to your account!</p>
  </body>
</html>