<div class="row">
  <div class="col-8">
    <h1>Categories</h1>
  </div>
  <div class="col">
    <%= link_to 'Add Category', new_category_path, class: 'btn btn-primary float-right' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Color</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
            <td style="background-color: <%= category.color %>;"></td>
        </tr>
    <% end %>
  </tbody>
</table>