<h3 class="text-center">User Profile</h3>
<br>
<h5 class="text-center">Name: <%= "#{@profile.first_name} #{@profile.last_name}" %></h5>
<h5 class="text-center">Email: <%= @profile.email %></h5>
<h5 class="text-center">Username: <%= @profile.username %></h5>
